[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ggordiplots"]
	path = ggordiplots
	url = https://github.com/jfq3/ggordiplots
[submodule "speedytax"]
	path = speedytax
	url = https://github.com/jfq3/speedytax
